.homeScreen {
  width: 100%;
  height: 100%;
  background: #6495ed;
  overflow: hidden;
}

.titleContainer {
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: blueviolet;
}

.logoutcom {
  cursor: pointer;
  color: white;
}

.logoutText {
  color: white;
  font-size: 15px;
}

.initials {
  color: white;
}

.createContainerButton {
  width: 170px;
  height: 50px;
  background-color: blueviolet;
  text-align: center;
  border-radius: 15px;
  cursor: pointer;
}

.createContainerButton:hover {
  opacity: 0.5;
}

.createButton {
  font-size: 15px;
  color: white;
}

.title {
  padding: 0;
  margin: 0;
  font-size: 30px;
  color: white;
}

.proposalSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 30px;
  overflow: scroll;
  background: #6495ed;
}

.proposalContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px;
  background-color: aliceblue;
  border-radius: 30px;
}

.propTitleContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.propTitle {
  font-size: 20px;
  font-weight: bold;
}

.propSumContainer {
  margin-top: 15px;
  margin-bottom: 15px;
}

.propSum {
  font-size: 15px;
}

.propContContainer {
}

.propCont {
  font-size: 15px;
}

.bContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.positiveButton {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  background-color: green;
  color: white;
  cursor: pointer;
}

.positiveButton:hover {
  opacity: 0.5;
}

.negativeButton {
  display: flex;
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  border-radius: 15px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.negativeButton:hover {
  opacity: 0.5;
}

.positive {
  color: green;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}
